{% for entry in vlan_int %}

interface vlan {{entry.vlan}}
  description {{entry.des}}
  {% if entry.ip_add == '' %}
no ip address
  {%else%}
ip address {{entry.ip_add}} {{entry.mask}}
  {% endif %}
  {% endfor %}
